<section class="section">
    <h1>Posts</h1>
    <ul class="posts-list">
    <% page.posts.each(function(post) { %>
        <li>
            <a href="<%- url_for(post.path) %>"><%= post.title %></a>
            <time datetime="<%= date(post.date, 'YYYY-MM-DD') %>">
                <%= date(post.date, 'MMMM DD, YYYY') %>
            </time>
        </li>
    <% }); %>
    </ul>
    <% if (page.total > 1) { %>
    <nav class="pagination">
        <%- paginator({prev_text: 'Previous', next_text: 'Next'}) %>
    </nav>
    <% } %>
</section>
